@{
    ViewData["Title"] = "Rest Client";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>
        <button class="btn btn-primary" onclick="callAPI('books')">Get Books</button>
        <button class="btn btn-warning" onclick="callAPI('authors')">Get Authors</button>
    </p>
</div>
